.chart-heading {
    background-color: #1e1e1e;
    color: #ffffff;
    font-size: 15px;
    border: none;
}
.select-chart-heading {
    background-color: #2e2e2e;
    color: #ffffff;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    padding: 5px;
}
.pie-chart-name-alignment {
    display: flex;
    justify-content: space-between;
}
.bg-chart {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 15px;
}
.pie-bar-chat-size {
    width: 60%;
    margin-bottom: 9%;
}